@use 'color';

.main-footer {
  & .main-footer-wrapper {
    display: flex;
  }
  & .footer-social-media {
    display: flex;
  }
  & .social {
    margin-right: 15px;
  }
  & .footer-left {
    width: 50%;
  }
  & .footer-right {
    width: 50%;
    display: flex;
    justify-content: right;
  }
  & .footer-right ul {
    list-style-type: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: color.$color-white;
  }
  & .footer-right a {
    text-decoration: none;
    color: color.$color-white;
  }
  & .title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: color.$color-white;
  }
  & .footer-right ul li {
    margin-bottom: 28px;
    margin-left: 70px;
  }
  & .side-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: color.$color-gray;
  }
}
