@use "color";
@use "responsive";

.main-footer {
  & .main-footer-wrapper {
    display: flex;
    @include responsive.xlg {
      display: grid;
    }
    @include responsive.lg {
      display: inline-block;
    }
  }
  & .footer-social-media {
    display: flex;
  }
  & .social {
    margin-right: 15px;
  }
  & .footer-left {
    width: 30%;
    @include responsive.md {
      margin-left: 10px;
      font-size: 15px;
      width: 100%;
      @include responsive.xxlg {
        margin-left: auto;
      }
      @include responsive.lg {
      }
    }
  }
  & .footer-right {
    width: 50%;
    display: flex;
    justify-content: right;
    @include responsive.xxlg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: auto;
      margin-right: auto;
    }
    @include responsive.lg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: auto;
      margin-right: auto;
    }
    @include responsive.md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      width: 50%;
    }
  }
  & .footer-right ul {
    list-style-type: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: color.$color-white;
    @include responsive.md {
      font-size: 10px;
    }
  }
  & .footer-right a {
    text-decoration: none;
    color: color.$color-white;
  }
  & .title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: color.$color-white;
    @include responsive.md {
      font-size: 10px;
    }
  }
  & .footer-right ul li {
    margin-bottom: 28px;
    margin-left: 70px;
    @include responsive.md {
      margin-left: 10px;
    }
  }
  & .side-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: color.$color-gray;
    @include responsive.md {
      display: inline;
      font-size: 11px;
      margin-left: 10px;
    }
  }
}
