@use "color";
@use "responsive";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: color.$color-black;
  color: color.$color-white;
}

.main-content {
  & .first-section {
    width: 100%;
    & .first-section-wrapper {
      display: flex;
      margin-top: 150px;
      gap: 60px;
      @include responsive.lg {
        margin-top: 60px;
      }
      & .first-section-left {
        width: 50%;
        @include responsive.lg {
          width: 80%;
        }
      }
      & .status {
        font-family: "Inter";
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: color.$color-pink;
      }
      & h1 {
        font-family: "Inter";
        font-weight: 900;
        font-size: 96px;
        color: color.$color-white;
        margin-top: 24px;
        margin-bottom: 32px;
        @include responsive.lg {
          font-size: 35px;
        }
      }
      & p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: color.$color-white;
        margin-bottom: 41px;
        @include responsive.lg {
          font-size: 14px;
        }
      }
      & .button {
        border-radius: 100px;
        width: 188px;
        height: 75px;
        text-align: center;
        padding-top: 25px;
        background-image: url(./sign-up.svg);
        cursor: pointer;
        background-color: color.$color-black;
        font-size: 20px;
        font-weight: 600;
      }
      & .first-section-left a {
        text-decoration: none;
        list-style-type: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: color.$color-white;
      }
      & .first-section-right {
        width: 50%;
        display: flex;
        justify-content: center;
        @include responsive.lg {
          width: 20%;
        }
      }
      & .first-section-right img {
        @include responsive.lg {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  & .second-section-wrapper {
    display: flex;
    flex-direction: column;
    & .second-section-left {
      background-image: url(./second-section-background.svg);
      background-repeat: no-repeat;
      width: 100%;
      height: 320px;
      border-radius: 16px;
      margin-top: 182px;
      margin-bottom: 120px;
      display: flex;
      flex-direction: column;
      padding-left: 64px;
      padding-top: 100px;
      @include responsive.lg {
        margin-top: 80px;
        padding-left: 30px;
      }
      & h2 {
        font-family: "Inter";
        font-weight: 500;
        font-size: 40px;
        color: color.$color-black;
        margin-bottom: 10px;
        @include responsive.lg {
          font-size: 30px;
        }
      }
    }
    & .second-section-p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: color.$color-black;
      @include responsive.lg {
        font-size: 17px;
      }
    }
    & .second-section-right {
      display: flex;
      justify-content: space-evenly;
      @include responsive.lg {
        flex-wrap: wrap;
      }
      & .second-section-right1 {
        display: flex;
        gap: 35px;
        @include responsive.lg {
          flex-direction: column;
        }
      }
      & .second-section-right2 {
        display: flex;
        gap: 35px;
        @include responsive.lg {
          flex-direction: column;
        }
      }
      & .droplet {
        @include responsive.lg {
          display: none;
        }
      }
    }
  }
  & .third-section {
    margin-top: 100px;
    @include responsive.lg {
      margin-top: 40px;
    }
    & h2 {
      font-family: "Inter";
      font-weight: 500;
      font-size: 40px;
      @include responsive.lg {
        font-size: 35px;
      }
    }
    & p {
      color: color.$color-gray;
      font-family: "Inter";
      font-weight: 400;
      font-size: 20px;
      @include responsive.lg {
        font-size: 18px;
      }
    }
    & .underlined {
      text-decoration: underline;
    }
    & .third-section-right {
      display: flex;
      margin-top: 50px;
      gap: 40px;
      & .card {
        background-color: color.$color-black;
        width: calc(100% / 4);
        border-radius: 16px;
        @include responsive.lg {
          width: 100%;
        }
      }
      & .card-logo img {
        width: 100%;
        @include responsive.lg {
          width: 250px;
        }
      }
      & .card-content {
        display: flex;
        justify-content: space-between;
      }
      & .card-content-left {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 15px;
      }
      & .card-content-right {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: right;
      }
    }
    & .red-text {
      font-family: "Inter";
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: color.$color-red;
      margin-bottom: 8px;
      @include responsive.lg {
        font-size: 10px;
      }
    }
    & .bold-text {
      font-family: "Inter";
      font-weight: 500;
      font-size: 19px;
      color: color.$color-white;
      margin-bottom: 8px;
      @include responsive.lg {
        font-size: 15px;
      }
    }
    & .bold-text img {
      margin-right: 8px;
      @include responsive.lg {
        width: 10px;
      }
    }
    & .gray-uppercase-text {
      font-family: "Inter";
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: color.$color-gray;
      margin-bottom: 8px;
      @include responsive.lg {
        font-size: 10px;
      }
    }
    & .gray-text {
      font-family: "Inter";
      font-weight: 400;
      font-size: 18px;
      color: color.$color-gray;
      @include responsive.lg {
        font-size: 15px;
      }
    }
  }
  & .fourth-section {
    margin-top: 100px;
    @include responsive.lg {
      margin-top: 50px;
    }
    & .fourth-section-wrapper {
      display: flex;
    }
    & .fourth-section-left {
      width: 50%;
      margin-top: auto;
      margin-bottom: auto;
      & p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: color.$color-white;
        margin-bottom: 41px;
        @include responsive.lg {
          font-size: 13px;
          margin-bottom: 20px;
        }
      }
      & .button {
        border-radius: 100px;
        width: 188px;
        height: 75px;
        text-align: center;
        padding-top: 25px;
        background-image: url(./sign-up.svg);
        cursor: pointer;
        background-color: color.$color-black;
        font-size: 20px;
        font-weight: 600;
      }
      & .status {
        font-family: "Inter";
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: color.$color-pink;
        @include responsive.lg {
          font-size: 12px;
        }
      }
    }
    & .fourth-section-right {
      width: 50%;
      display: flex;
      justify-content: center;
    }
    & .fourth-section-right img {
      @include responsive.lg {
        width: 150px;
      }
    }
    & h3 {
      font-family: "Inter";
      font-weight: 900;
      font-size: 56px;
      color: color.$color-white;
      margin-top: 15px;
      margin-bottom: 15px;
      @include responsive.lg {
        font-size: 35px;
      }
    }
    & .straight-line {
      width: 100%;
      display: flex;
      margin-bottom: 85px;
    }
  }
}
