$small: 375px;
$medium: 600px;
$large: 900px;
$xlarge: 1000px;
$xxlarge: 1200px;

@mixin sm {
  @media (max-width: $small) {
    @content;
  }
}

@mixin md {
  @media (max-width: $medium) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $large) {
    @content;
  }
}

@mixin xlg {
  @media (max-width: $xlarge) {
    @content;
  }
}

@mixin xxlg {
  @media (max-width: $xxlarge) {
    @content;
  }
}
