.main-header {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .main-header {
    margin-left: auto;
    margin-right: auto;
  }
}
.main-header .main-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.main-header .main-header-wrapper .header-logo {
  color: white;
}
.main-header .main-header-wrapper .burger {
  display: none;
  margin-top: 10px;
  width: 24px;
  height: 22px;
  background: transparent;
  background-image: url(./burger-logo.svg);
  border: 0;
}
@media (max-width: 1200px) {
  .main-header .main-header-wrapper .burger {
    display: flex;
  }
}
.main-header .main-header-wrapper .header-navigation a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-family: Inter;
}
@media (max-width: 1200px) {
  .main-header .main-header-wrapper .header-navigation a {
    display: none;
  }
}
.main-header .main-header-wrapper .navpink a {
  color: #ff3998;
}
.main-header .main-header-wrapper .header-navigation ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 28px;
}
@media (max-width: 1200px) {
  .main-header .main-header-wrapper .header-navigation ul li {
    padding-left: 0px;
  }
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .container {
    width: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: rgb(255, 255, 255);
}

.main-content .first-section {
  width: 100%;
}
.main-content .first-section .first-section-wrapper {
  display: flex;
  margin-top: 150px;
  gap: 60px;
}
@media (max-width: 900px) {
  .main-content .first-section .first-section-wrapper {
    margin-top: 60px;
  }
}
.main-content .first-section .first-section-wrapper .first-section-left {
  width: 50%;
}
@media (max-width: 900px) {
  .main-content .first-section .first-section-wrapper .first-section-left {
    width: 80%;
  }
}
.main-content .first-section .first-section-wrapper .status {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}
.main-content .first-section .first-section-wrapper h1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  color: rgb(255, 255, 255);
  margin-top: 24px;
  margin-bottom: 32px;
}
@media (max-width: 900px) {
  .main-content .first-section .first-section-wrapper h1 {
    font-size: 35px;
  }
}
.main-content .first-section .first-section-wrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 41px;
}
@media (max-width: 900px) {
  .main-content .first-section .first-section-wrapper p {
    font-size: 14px;
  }
}
.main-content .first-section .first-section-wrapper .button {
  border-radius: 100px;
  width: 188px;
  height: 75px;
  text-align: center;
  padding-top: 25px;
  background-image: url(./sign-up.svg);
  cursor: pointer;
  background-color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.main-content .first-section .first-section-wrapper .first-section-left a {
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.main-content .first-section .first-section-wrapper .first-section-right {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .main-content .first-section .first-section-wrapper .first-section-right {
    width: 20%;
  }
}
@media (max-width: 900px) {
  .main-content .first-section .first-section-wrapper .first-section-right img {
    width: 250px;
    height: 250px;
  }
}
.main-content .container {
  margin-left: 10px;
  margin-right: 10px;
}
.main-content .second-section-wrapper {
  display: flex;
  flex-direction: column;
}
.main-content .second-section-wrapper .second-section-left {
  background-image: url(./second-section-background.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  border-radius: 16px;
  margin-top: 182px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  padding-top: 100px;
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-left {
    margin-top: 80px;
    padding-left: 30px;
  }
}
.main-content .second-section-wrapper .second-section-left h2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
  color: #111111;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-left h2 {
    font-size: 30px;
  }
}
.main-content .second-section-wrapper .second-section-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-p {
    font-size: 17px;
  }
}
.main-content .second-section-wrapper .second-section-right {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-right {
    flex-wrap: wrap;
  }
}
.main-content .second-section-wrapper .second-section-right .second-section-right1 {
  display: flex;
  gap: 35px;
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-right .second-section-right1 {
    flex-direction: column;
  }
}
.main-content .second-section-wrapper .second-section-right .second-section-right2 {
  display: flex;
  gap: 35px;
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-right .second-section-right2 {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .main-content .second-section-wrapper .second-section-right .droplet {
    display: none;
  }
}
.main-content .third-section {
  margin-top: 100px;
}
@media (max-width: 900px) {
  .main-content .third-section {
    margin-top: 40px;
  }
}
.main-content .third-section h2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
}
@media (max-width: 900px) {
  .main-content .third-section h2 {
    font-size: 35px;
  }
}
.main-content .third-section p {
  color: #777777;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 900px) {
  .main-content .third-section p {
    font-size: 18px;
  }
}
.main-content .third-section .underlined {
  text-decoration: underline;
}
.main-content .third-section .third-section-right {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}
.main-content .third-section .third-section-right .card {
  background-color: #111111;
  width: 25%;
  border-radius: 16px;
}
@media (max-width: 900px) {
  .main-content .third-section .third-section-right .card {
    width: 100%;
  }
}
.main-content .third-section .third-section-right .card-logo img {
  width: 100%;
}
@media (max-width: 900px) {
  .main-content .third-section .third-section-right .card-logo img {
    width: 250px;
  }
}
.main-content .third-section .third-section-right .card-content {
  display: flex;
  justify-content: space-between;
}
.main-content .third-section .third-section-right .card-content-left {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 15px;
}
.main-content .third-section .third-section-right .card-content-right {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.main-content .third-section .red-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(253, 150, 102);
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .main-content .third-section .red-text {
    font-size: 10px;
  }
}
.main-content .third-section .bold-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 19px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .main-content .third-section .bold-text {
    font-size: 15px;
  }
}
.main-content .third-section .bold-text img {
  margin-right: 8px;
}
@media (max-width: 900px) {
  .main-content .third-section .bold-text img {
    width: 10px;
  }
}
.main-content .third-section .gray-uppercase-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 8px;
}
@media (max-width: 900px) {
  .main-content .third-section .gray-uppercase-text {
    font-size: 10px;
  }
}
.main-content .third-section .gray-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: #777777;
}
@media (max-width: 900px) {
  .main-content .third-section .gray-text {
    font-size: 15px;
  }
}
.main-content .fourth-section {
  margin-top: 100px;
}
@media (max-width: 900px) {
  .main-content .fourth-section {
    margin-top: 50px;
  }
}
.main-content .fourth-section .fourth-section-wrapper {
  display: flex;
}
.main-content .fourth-section .fourth-section-left {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.main-content .fourth-section .fourth-section-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 41px;
}
@media (max-width: 900px) {
  .main-content .fourth-section .fourth-section-left p {
    font-size: 13px;
    margin-bottom: 20px;
  }
}
.main-content .fourth-section .fourth-section-left .button {
  border-radius: 100px;
  width: 188px;
  height: 75px;
  text-align: center;
  padding-top: 25px;
  background-image: url(./sign-up.svg);
  cursor: pointer;
  background-color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.main-content .fourth-section .fourth-section-left .status {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}
@media (max-width: 900px) {
  .main-content .fourth-section .fourth-section-left .status {
    font-size: 12px;
  }
}
.main-content .fourth-section .fourth-section-right {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .main-content .fourth-section .fourth-section-right img {
    width: 150px;
  }
}
.main-content .fourth-section h3 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 56px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  .main-content .fourth-section h3 {
    font-size: 35px;
  }
}
.main-content .fourth-section .straight-line {
  width: 100%;
  display: flex;
  margin-bottom: 85px;
}

.main-footer .main-footer-wrapper {
  display: flex;
}
@media (max-width: 1000px) {
  .main-footer .main-footer-wrapper {
    display: grid;
  }
}
@media (max-width: 900px) {
  .main-footer .main-footer-wrapper {
    display: inline-block;
  }
}
.main-footer .footer-social-media {
  display: flex;
}
.main-footer .social {
  margin-right: 15px;
}
.main-footer .footer-left {
  width: 50%;
}
@media (max-width: 600px) {
  .main-footer .footer-left {
    margin-left: 10px;
    font-size: 15px;
    width: 100%;
  }
}
@media (max-width: 600px) and (max-width: 1200px) {
  .main-footer .footer-left {
    margin-left: auto;
  }
}
.main-footer .footer-right {
  width: 50%;
  display: flex;
  justify-content: right;
}
@media (max-width: 1200px) {
  .main-footer .footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 900px) {
  .main-footer .footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .main-footer .footer-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }
}
.main-footer .footer-right ul {
  list-style-type: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
@media (max-width: 600px) {
  .main-footer .footer-right ul {
    font-size: 10px;
  }
}
.main-footer .footer-right a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.main-footer .title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media (max-width: 600px) {
  .main-footer .title {
    font-size: 10px;
  }
}
.main-footer .footer-right ul li {
  margin-bottom: 28px;
  margin-left: 70px;
}
@media (max-width: 600px) {
  .main-footer .footer-right ul li {
    margin-left: 10px;
  }
}
.main-footer .side-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #777777;
}
@media (max-width: 600px) {
  .main-footer .side-footer {
    display: inline;
    font-size: 11px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */