.main-header {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
}
.main-header .main-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.main-header .main-header-wrapper .header-logo {
  color: white;
}
.main-header .main-header-wrapper .burger {
  display: none;
  margin-top: 10px;
  width: 24px;
  height: 22px;
  background: transparent;
  background-image: url(./burger-logo.svg);
  border: 0;
}
.main-header .main-header-wrapper .header-navigation a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-family: Inter;
}
.main-header .main-header-wrapper .navpink a {
  color: #ff3998;
}
.main-header .main-header-wrapper .header-navigation ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 28px;
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: rgb(255, 255, 255);
}

.main-content .first-section {
  width: 100%;
}
.main-content .first-section .first-section-wrapper {
  display: flex;
  margin-top: 150px;
  gap: 60px;
}
.main-content .first-section .first-section-wrapper .first-section-left {
  width: 50%;
}
.main-content .first-section .first-section-wrapper .status {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}
.main-content .first-section .first-section-wrapper h1 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  color: rgb(255, 255, 255);
  margin-top: 24px;
  margin-bottom: 32px;
}
.main-content .first-section .first-section-wrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 41px;
}
.main-content .first-section .first-section-wrapper .button {
  border-radius: 100px;
  width: 188px;
  height: 75px;
  text-align: center;
  padding-top: 25px;
  background-image: url(./sign-up.svg);
  cursor: pointer;
  background-color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.main-content .first-section .first-section-wrapper .first-section-left a {
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.main-content .first-section .first-section-wrapper .first-section-right {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.main-content .first-section .first-section-wrapper .first-section-right::before {
  content: "";
  position: absolute;
  background-image: url(./nft-logo-before.svg);
  background-size: 800px 800px;
  width: 800px;
  height: 800px;
  right: -30%;
  top: -20%;
  z-index: -10;
}
.main-content .first-section .first-section-wrapper .first-section-right::after {
  content: "";
  position: absolute;
  background-image: url(./nft-logo-after.svg);
  background-size: 500px 500px;
  width: 500px;
  height: 500px;
  right: 25%;
  top: 30%;
  z-index: -10;
}
.main-content .second-section-wrapper {
  display: flex;
  flex-direction: column;
}
.main-content .second-section-wrapper .second-section-left {
  background-image: url(./second-section-background.svg);
  width: 100%;
  height: 320px;
  border-radius: 16px;
  margin-top: 182px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  padding-top: 100px;
}
.main-content .second-section-wrapper .second-section-left h2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
  color: #111111;
  margin-bottom: 10px;
}
.main-content .second-section-wrapper .second-section-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #111111;
}
.main-content .second-section-wrapper .second-section-right {
  display: flex;
  justify-content: space-evenly;
}
.main-content .third-section {
  margin-top: 100px;
}
.main-content .third-section h2 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
}
.main-content .third-section p {
  color: #777777;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
}
.main-content .third-section .underlined {
  text-decoration: underline;
}
.main-content .third-section .third-section-right {
  display: flex;
  margin-top: 50px;
  gap: 40px;
}
.main-content .third-section .third-section-right .card {
  background-color: #111111;
  width: 25%;
  border-radius: 16px;
}
.main-content .third-section .third-section-right .card-logo img {
  width: 100%;
}
.main-content .third-section .third-section-right .card-content {
  display: flex;
  justify-content: space-between;
}
.main-content .third-section .third-section-right .card-content-left {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 15px;
}
.main-content .third-section .third-section-right .card-content-right {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
}
.main-content .third-section .red-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(253, 150, 102);
  margin-bottom: 8px;
}
.main-content .third-section .bold-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 19px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
.main-content .third-section .bold-text img {
  margin-right: 8px;
}
.main-content .third-section .gray-uppercase-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 8px;
}
.main-content .third-section .gray-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: #777777;
}
.main-content .fourth-section {
  margin-top: 100px;
}
.main-content .fourth-section .fourth-section-wrapper {
  display: flex;
}
.main-content .fourth-section .fourth-section-left {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.main-content .fourth-section .fourth-section-left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 41px;
}
.main-content .fourth-section .fourth-section-left .button {
  border-radius: 100px;
  width: 188px;
  height: 75px;
  text-align: center;
  padding-top: 25px;
  background-image: url(./sign-up.svg);
  cursor: pointer;
  background-color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.main-content .fourth-section .fourth-section-left .status {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff3998;
}
.main-content .fourth-section .fourth-section-right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.main-content .fourth-section h3 {
  font-family: "Inter";
  font-weight: 900;
  font-size: 56px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-content .fourth-section .straight-line {
  width: 100%;
  display: flex;
  margin-bottom: 85px;
}

.main-footer .main-footer-wrapper {
  display: flex;
}
.main-footer .footer-social-media {
  display: flex;
}
.main-footer .social {
  margin-right: 15px;
}
.main-footer .footer-left {
  width: 50%;
}
.main-footer .footer-right {
  width: 50%;
  display: flex;
  justify-content: right;
}
.main-footer .footer-right ul {
  list-style-type: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.main-footer .footer-right a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.main-footer .title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.main-footer .footer-right ul li {
  margin-bottom: 28px;
  margin-left: 70px;
}
.main-footer .side-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #777777;
}/*# sourceMappingURL=style.css.map */